<table>
<tbody>
<tr>
<td>
<% @posts.each do |post| %>
    <%= link_to post.prefecture.prefecture_name, post_path(post.id) %>
     <%= link_to post.id, post_path(post.id) %>
<% end %>
</td>
</tr>
</tbody>

</table>