<div class="container">
	<div class="row text-center">
	
		<div class="col-md-12">
			<div class="box mt-3" style="color: #000;">
				<h2><%= @place.name %>で</h2>
				<h4>あなたの落としたものを以下のジャンルの中から選んでください</h4>
				 <%= link_to '戻る', :back,  class:"fas fa-undo btn btn-light"%>
			</div>
		</div>
		
		<!--アイテムジャンル一覧ページ-->
	    <%= render 'item_genres/item_genre_list', { item_genres: @item_genres, path_name: @path_name } %>
		<!--アイテムジャンル一覧ページ-->
			
	</div>
</div>