<div class="col-md-6 box">
  <% breadcrumb :step3, @place  %>
  <%= breadcrumbs separator: " > " , class: :logo %>
</div>

<div class="container">
	<div class="row text-center">
	
		<div class="col-md-12">
			<div class="box" style="color: #fff;">
				<h2><%= @place.name %>で</h2>
				<h4>あなたの拾ったものを以下のジャンルの中から選んでください</h4>
				<%= link_to '戻る', :back,  class:"fas fa-undo tn btn-light"%>
			</div>
		</div>
<!--アイテムジャンル一覧ページ-->
<%= render 'item_genres/item_genre_list', { item_genres: @item_genres, path_name: @path_name } %>
<!--アイテムジャンル一覧ページ-->
			
	</div>
</div>