<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="user-view clearfix ">
  <%= notification_form(notification) %><span class="moderate-font"></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>