<div class="container">
  <div class="row text-center">
    <div class="col-md-12" >
      <div class="box">
        <%= image_tag "404.png", :size =>'800x600' %>
       </div>
    </div>
  </div>
</div>