<div class="cotainer">
  <div class="row text-center">
    <h4 class="col-md-6 box" style="color: #fff; margin: 10px auto;"><%= " #{current_user.name} さん のマイページ" %></h4>
  </div>
  
     <div class="row box" style="margin-top:20px; margin-right: auto; margin-left: auto;">
       <h3 class="col-md-12 text-center " style="color:#fff; margin: 5px">見つけてもらった迷子たち</h3>
        <%= render 'posts/list', posts: @posts %>
     </div>
    
    <div class="row" >
    <div class="col-md-3 text-center post-content" style="margin: 10px auto;">
        <span style="margin: 10px;"><%= link_to 'ユーザー情報の編集', edit_user_registration_path(current_user.id), class:"fas fa-user-edit" %></span>
        <%= link_to '戻る', :back,  class:"fas fa-undo"%>
    </div>
    </div>
  
</div>

