
  <div class="container">
   
   <!--サイト開設部分-->
    <div class="row text-center" style="margin-top: 10px;">
      <div class="col-md-12 box">
          <p style="margin: 20px auto; font-size: 25px;">山で拾ったり、落としたりした物をしらせたり、探したりするサイトです。<br>
          道具を長く使い、山を美しく保ち、登山を楽しみましょう。</p>
      </div>
    </div>
    
    <!--メインボタン部分-->
    <div class="row">
        <!--PickUpへのボタン-->
        <div class="col-md-6 text-center" style="margin-top: 20px;">
          <div class="box">
            <h2 class="main-btn-label">拾った！</h2>
            <a href="pick_up/step1" class="btn btn-border">  知らせる  </a>
          </div>
        </div>
        <!--Dropsへのボタン-->
        <div class="col-md-6 text-center" style="margin-top: 20px;">
          <div class="box">
            <h2 class="main-btn-label">落とした！</h2>
            <a href="drops/phase1" class="btn btn-border">  見つける  </a>
          </div>
        </div>
    </div>
    
    <!--最近の落とし物-->
     <div class="row my-5px">
       <h3 class="col-md-12 text-center " style="color:#000; margin-top: 15px">最近の落とし物</h3>
        <%= render 'posts/list', posts: @posts %>
     </div>
    </div>
    
  </div>