<td style="font-size:25px;"><%= get_region_name(region) %></td>
  <tr style="margin:5px">
  <td>
    <% Prefecture.where(region: region).each do |r| %>
      <%= link_to r.prefecture_name, get_prefecture_path(r.id, path_name), class: "btn btn-light" %>
    <% end %>
  </td>
</tr>