<table class='table table-hover table-inverse'>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <% if post.post_images.present? %>
            <% post.post_images.each do |image| %>
              <%= attachment_image_tag image, :image, :fill, 50, 50 %>
            <% end %>
            <% else %>
              <%= image_tag 'no_image.png', size: '50x50' %>
            <% end %>
          </td>
          <td><%= link_to post.place.name, post_path(post.id) %></td>
          <td><%= post.prefecture.prefecture_name %></td>
        </tr>
      <% end %>
    </tbody>
</table>