/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// 背景表示
.jumbotron-extend {
    position: relative;
    height: vh;
    min-height: 300px;
    background: url(forest.jpg) no-repeat center center;
    background-size: cover;
}

.notice-bar {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom:  0px;
  color: #fff;
  text-align: center;
  padding:  10px;
}
 
// フォームの文字を白くする
.field {
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.actions {
  margin: 0 30px;
  font-size: 20px;
}

// 背景に黒い半透明の枠
.box{
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 10px 0 ;
  padding: 10px 5px;
}

// 黒枠白抜きの丸い枠
.post-content{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px #333;
  background-color: #fff;
  display: inline-block;
}


// コメント投稿ボタン
button.comment{
  background-color: #fff;
  border: solid 2px #000;
  height: 50px;
  width: 50px;
}

// 新規投稿ボダン
.btn-post {
  height: 50px;
  width: 200px;
  font-color: #000;
  background-color: #fff;
  border-radius: 50px;
  border: 6px groove #000;
}

// 山名追加ボタン
.btn-add {
  color: #000;
  background-color: #fff;
}

.btn-add:hover {
  color: #fff;
  background: #66FF99;
}

// ページネーションの記述
.pagination>li>a {          
  border: none;     
  color: #696969;
}


.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;    
}


.pagination>li>a:hover {        
  border-radius: 15px;    
}

.pagenation{
  margin: 10px auto;
}

.pagenation {
    text-align:center;
}
.pagenation ul {
    display:inline-block;
}
.pagenation li {
    float:left;
}
.pagenation li + li {
    margin-left:20px;
}



@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';