/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// 背景表示
.jumbotron-extend {
    position: relative;
    height: 200vh;
    min-height: 300px;
    background: image-url("forest.jpg") no-repeat center center;
    background-size: cover;
}

// Noticeのデザイン
.notice-bar {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom:  0px;
  color: #fff;
  text-align: center;
  padding:  10px;
}

.nav-item{
 font-size: 20px;
}
 
// フォームの文字を白くする
.field {
  margin: 10px;
  color: #fff;
  font-size: 20px;
}

.actions {
  margin: 0 30px;
  font-size: 20px;
}

.card {
    // width: 100%;
    // height: 140px;
     border-radius: 12px 12px 0 0;
    // -o-object-fit: cover;
    // object-fit: cover;
}

// 背景に黒い半透明の枠
.box{
  background-color: #90B494;
  border-radius: 20px;
  margin: 10px 0 ;
  padding: 10px 5px;
}

// 黒枠白抜きの丸い枠
.post-content{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: solid 2px #333;
  background-color: #fff;
  display: inline-block;
}


// コメント投稿ボタン
button.comment{
  background-color: #fff;
  border: solid 2px #000;
  height: 50px;
  width: 50px;
}

// 新規投稿ボダン
.btn-post {
  height: 50px;
  width: 200px;
  font-color: #000;
  background-color: #fff;
  border-radius: 50px;
  border: 6px groove #000;
}

// 山名追加ボタン
.btn-add {
  color: #000;
  background-color: #fff;
}

.btn-add:hover {
  color: #fff;
  background: #66FF99;
}

// ページネーションの記述
.pagination>li>a {          
  border: none;     
  color: #696969;
}


.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;    
}


.pagination>li>a:hover {        
  border-radius: 15px;    
}

.pagenation{
  margin: 10px auto;
}

.pagenation {
    text-align:center;
}
.pagenation ul {
    display:inline-block;
}
.pagenation li {
    float:left;
}
.pagenation li + li {
    margin-left:20px;
}

section{
  margin: 0px;
  background: #BFC8AD;
}

footer {
  text-align:center;
  background: #DBCFB0;
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

// 画面を小さくしたときの対応
@media (max-width: 480px){
// ハンバーガーメニュー
  #hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

// SPメニュー
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}

#sp-menu li:nth-child(1) {
  text-align: center;
  margin-top: 100px;
  list-style: none;
}

#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

  }


@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';