// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 100%; /* 高さ300px */

  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-content {
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%; /* 横幅40% */
  height: 100%; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  text-align: center; /* 文字を中央揃えにする */
  padding: 20px,;
}

/* 追加 */
.main-visual-text {
  font-family:system-ui;
  font-size: 20px;
  color: #fff; /* 文字色を白に変更 */
}

/* 追加 */
.main-visual-name {
  margin-top: 30px; 
  color: #fff; 
}

h2.main-btn-label {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}




// 拾ったボタン
a.btn-border {
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
  
  margin-top: 3px;
  margin-bottom: 5px;
  width: 200px;
  height: 50px;
  font-size: 25px; 
  font-family: MeiryoUI;
  
  -webkit-transform-style: preserve-3d;
  
  transform-style: preserve-3d;
}

a.btn-border:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);

  border-radius: 0 50% 50% 0;
  background: #000;
}

a.btn-border:hover:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  line-height: 30px;

  width: 35px;
  height: 30px;

  content: '\f061';
  -webkit-transform: translateX(460%) translateY(.5rem);
  transform: translateX(460%) translateY(.5rem);

  color: #fff;
  border-radius: 50%;
}
